@font-face {
    font-family: biolibert;
    src: url(fonts/biolilbert/Biolilbert-Rg.ttf);
}

@font-face {
    font-family: biolibertBold;
    src: url(fonts/biolilbert/Biolilbert-Bd.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: biolibert, sans-serif;
    background-color: #e4e4e4;
}

button {
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    box-shadow: 3px 4px 10px -2px rgba(64,64,64,0.53);
}

/*HEADER styles*/

.header {
    
    display: flex;
    align-items: center;

    background-color: #8bff93;
    box-shadow: 2px -5px 12px 8px rgba(122, 122, 122, 1);

    position: sticky;
    top: 0;
}

.title {
    display: flex;
    flex: 1;
}

.title img {
    width: 4rem;
    margin-left: 2rem;
}

.title h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;

    margin: 0;
    padding: 2rem 1rem 2rem 1rem;
}

.add-button {
    margin-right: 2rem;
    background-color: white;
    padding: 0.5rem 2rem;
    border: 2px dashed black;
    border-radius: 2rem;

    font-family: biolibertBold, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.add-button:hover {
    cursor: pointer;
    background-color: #e4e4e4;
    border: 2px dashed black;
}

.add-button:active {
    background-color: #c0bfbf;
}

/* MAIN styles */

.main {
    margin: 3vh 10vw 5vh 10vw;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 2, 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
}

.book-container {
    background-color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 0;

    border-radius: 0.5rem;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.book-container:hover {
    box-shadow: 3px 4px 10px -2px rgba(64,64,64,0.53);
}

.title-heading {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin: 0 0 0.5rem 0;
}

.book-container p {
    margin: 0;
    font-size: 1.2rem;
    align-self: center;
}

.book-container button {
    align-self: end;

    font-size: 1.2rem;
    padding: 0.4rem 2rem;

    border: 1px solid black;
    border-radius: 2rem;
}